{% extends "layout.html" %}
{% block content%}
    <h1>About Page</h1>
        <p>
            This is a test paragraph.  No amount of color scheming can make staring at code all day more fun.  Although I do enjoy coding, the color schemes tend to make it monotonous.  Maybe thats why there are so many types of themes and schemes; coders like the variety and are frequently changing their color schemes.
        </p>
        <p>
            This is another paragraph.  I don't understand why Vim keys are all so very convenient and intuitive, EXCEPT for one.  The keystroke to move the cursur to the end of the line is very inconvenient.  I mean, a $?  C'mon!  That is neither convenient nor fast.  It requires almost as much as a mouse movement...
        </p>
        <p>
                This paragraph I'm testing out first line indentation.  Classical formatting has been upended in the last 20 years due to web development and literature standards being re-written due to the online medium.  I miss my two-spaces following a period.  I miss proper punctuation and capitalization.  Where the future will lead, noobdy knows.  I believe emoji's are the wild-card for the written future!
        </p>
        <p>
            Why wasn't there an indentation on last paragraph's first line?  I may never know.
        </p>
{% endblock content %}
